.content{
	margin-top: 15%;
}
/*关注*/
.rFocus{
	background: white;
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin-top: 2%;
}
.rFocus img{
	height: 16%;
	width: 16%;
}
.rFocus span:nth-child(2){
	line-height: 1.8;
	margin-left: -5%;
	font-size: 2.8em;
	
}
.rFocus-title i{
	color: red;
	font-size: 0.5em;
}
/*已关注Class名*/
.rFocus-btn-on{
	display: inline-block;
    height: 2.5rem;
    width: 20%;
    line-height: 2.5;
    border-radius: 3px;
	text-align: center;
	margin-top: 3%;
	background: white;
	border: 1px solid rgb(254,119,111);
	color: red;
}
/*关注按钮*/
.rFocus-btn{
	display: inline-block;
	border:1px solid rgb(254,119,111);
    height: 2.5rem;
    width: 20%;
    line-height: 2.5;
    background: rgb(254,119,111);
    border-radius: 3px;
	color: white;
	text-align: center;
	margin-top: 3%;
}

/*最新视频*/
.rNice{
	background: white;
}
.rNice-nav{
	display: flex;
	justify-content: space-around;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
	margin-top: 2%;
}
.rNice-nav span{
	font-size: 0.9rem;
	height: 1.56rem;
	margin:2% 7% 0 7%;
}
.rNice-nav span:nth-child(2){
	border-bottom: solid 2px red;
	color: red;
}
.rGrayLine{
	border-bottom: 1px solid rgb(177,177,177);
	width: 95%;
	margin: 0 auto 0 auto;
}
/*视频*/
.rNice-video{
	padding: 2%;
	overflow: hidden;
	border-bottom: 1px solid rgb(221,221,221);
}
.rNice-video>img{
	width: 38%;	
}
.rNice-video div{
	float: right;
	width: 58%;
	line-height: 1.6;
}
.rNice-video-title{
	font-size: 1.6rem;
}
.rNice-video-down{
	padding-left: 4%;
}
.rNice-video-down span{
	display: inline-block;
	margin-top: 3%;
	color: rgb(221,221,221);
}
.rNice-video-down img{
	width: 25%;
}
.rNice-video-down span:nth-of-type(2) img{
	vertical-align: top;
}