
#xBox{
	background: #e2e2e2;
}
header a:nth-of-type(2){
	font-size: 1.4em;
	color: #d92929;
	position: absolute;
	right:5%;
}
#xContent{
	width: 100%;
	padding-top:63px;
	margin-bottom:55px;
	background: #e2e2e2;
}
#xCircle_img{
	background: white;
	display: flex;
	justify-content: space-around;
	margin:8px 0;
	padding:10px 0;
}
#xCircle_img li{
	text-align: center;
}
#xCircle_img img{
	width:60%;
}
#xCircle_img li>a{
	padding-top: 10px;
	display: inline-block;
	font-size: 1.4em;
}
/*热门礼包*/
#xHot_gift{
	
	background: white;
	overflow: hidden;
}
#xHot_gift h2{
	height: 35px;
	line-height:35px;
	margin-left:8.5%;
	font-size: 2.2em;
}
#xHot_gift li img{
	width: 85%;
}
#xHot_gift li{
	width: 45%;
	font-size: 1.2em;
	line-height: 2;
}
#xHot_gift li{
	float: left;
	margin-bottom:9px;
}
#xHot_gift li:nth-of-type(2n+1){
	margin-left:8.5%;
}
#xHot_gift button{
	width: 85%;
	background:#fe776f;
	color: white;
	height: 35px;
	border: none;
	border-radius:5px;
	font-size:1.4em;
}
